<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.theaetetuslabs.android_apkmaker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity android:name=".InstallActivity"
                  android:label="@string/app_name"/>
        <service
            android:name=".ApkMakerService"
            android:exported="false"/>
    </application>

</manifest>